.navbarr {
    width: 250px;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 4, 255), rgb(8, 123, 255), rgb(76, 151, 250));
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -100%;
    overflow-y: auto;
    transition: 0.5s;
    transition-property: left, visibility;
    visibility: hidden;
    z-index: 20;
    top: 64px;
    &.active {
        left: 0;
        visibility: visible;
    }
    .nav__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        .nav__title {
            display: flex;
            margin: 10px 20px;
            color: #fff;
            align-items: center;
            cursor: pointer;
            .fullname {
                margin-left: 20px;
                margin-top: 15px;
                font-family: "Roboto", sans-serif;
                font-weight: 600;
            }
        }
        .nav__list {
            list-style: none;
            padding: 40px 20px;
            margin: 0;
            color: #fff;
            font-weight: 500;

            .list__item {
                padding: 10px 15px;
                margin-bottom: 5px;
                border-radius: 5px;
                cursor: pointer;
                width: 100%;
                display: flex;
                &.active {
                    background-color: #fff;
                    
                        color: #1460ac;
                    
                }
                    align-items: center;
                    color: #fff;
                    flex-direction: row;
                    text-decoration: none;
                    span {
                        margin-left: 10px;
                    }
                    div {
                        width: 30px;
                        i {
                            font-size: 1.4rem;
                        }
                    
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .navbar {
        top: 55px;
    }
}
